{% extends "base.html" %}
{% load staticfiles %}
{% block extra_head %}
    <link href="{% static "css/formpage.css" %}" rel="stylesheet">
{% endblock %}
{% block navbar %}
{% endblock %}

{% block content %}
    <form class="user-form" action="{% url 'login' %}" method="POST">
        <h2 class="user-form-heading">Login</h2>
        {% include "meta/bootstraped_form.html" with form=form %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <button class="btn btn-lg btn-block btn-default" type="button" id="register">...or Register</button>
    </form>
{% include "register-modal.html" %}
{% endblock %}

