{% if user_register_form %}
<div class="modal fade" id="modal-register">
  <div class="modal-dialog">
    <div class="modal-content">
    <form class="form-signin" action="{% url 'register' %}" method="POST">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Register</h4>
      </div>
      <div class="modal-body">
            {% include "meta/bootstraped_form.html" with form=user_register_form %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-lg btn-primary">Register</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endif %}

